[Unit]
Description=triggers the service that pulls and builds asb

[Timer]
# 6am GMT = 5pm AEDT
OnCalendar=6:00
Persistent=true

[Install]
WantedBy=timers.target
