[Unit]
Description=Run the automated swap backend
Requires=monero-wallet-rpc.service
OnFailure=unit-status-email@%n.service

[Service]
WorkingDirectory=/var/external/asb/xmr-btc-swap
ExecStart=/var/external/asb/bin/asb --config /var/external/asb/run/asb-config/config.toml start
Restart=on-failure
User=asb
Group=asb

[Install]
WantedBy=multi-user.target
