[Unit]
Description=monerod for the automated swap backend (asb)

# https://www.freedesktop.org/wiki/Software/systemd/NetworkTarget/
After=network-online.target
Wants=network-online.target

OnFailure=unit-status-email@%n.service

[Service]
Type=simple

ExecStart=/var/external/asb/monero/bin/monerod --stagenet --data-dir /var/external/asb/monero/data/stagenet/monerod --non-interactive

Restart=on-failure

User=asb
Group=asb

[Install]
WantedBy=multi-user.target
