[Unit]
Description=Logs some system statistics to the systemd journal
Requires=pull-and-build-asb.service

[Timer]
OnCalendar=*-*-* 16:00:00
Persistent=true

[Install]
WantedBy=timers.target