[Unit]
Description=Restart ASB service
After=watch-asb-binary-change.path
OnFailure=unit-status-email@%n.service

[Service]
Type=oneshot
ExecStart=/usr/bin/systemctl restart start-asb.service

[Install]
WantedBy=multi-user.target
