name: "Create 'preview' release"

on:
  push:
    branches:
      - master

jobs:
  create_release:
    name: Create preview release
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4.1.1

      - name: Delete 'preview' release
        uses: larryjoelane/delete-release-action@v1.0.24
        with:
          release-name: preview
          token: ${{ secrets.BOTTY_GITHUB_TOKEN }}

      - name: Give GitHub some time to process the deletion, otherwise our release shows up as draft. Sigh.
        run: sleep 10

      - name: Extract changelog section for release
        id: changelog
        uses: coditory/changelog-parser@v1
        with:
          version: unreleased

      - name: Create 'preview' release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.BOTTY_GITHUB_TOKEN }}
        with:
          tag_name: preview
          release_name: preview
          draft: false
          prerelease: true
          body: ${{ steps.changelog.outputs.description }}
